{% extends "base.html" %}
{% block content %}
<div class="title">
    <h2>Order Confirmed!</h2>
    <br>
</div>
<h2>Recommendations</h2>
<br>
<div class="card-group">
	{% for recommendation in recommendations %}

  <div class="col-sm-4 col-md-3 card">
    <div class="thumbnail">
      <img src="{{recommendation.piclink}}" >
      <div class="caption">
        <p><a href="{% url 'main'%}{{recommendation.ISBN13}}/">{{recommendation.title}}</a></p>
      </div>
    </div>
  </div>


  {% endfor %}
</div>
{% endblock %}
