{% extends "base.html" %}

{% block content %}
<!--a search bar on top-->

<div class="title">
    <h2>Bookstore</h2>
    <br>
</div>
 {% csrf_token %}
 <div class="list-group" id="search_result">
 </div> 

<!--a placeholder image or popular books-->
<!--when something is searched, show booktitle, author, copies etc in a list-->


<!--when some book is clicked, show a page with the information of the book, with feedback, recommendation-->
<!-- <div>
	<table>
		<tbody>
			<tr>
				<td>
					<img src="https://www.littlebrown.co.uk/assets/img/newsletter_placeholder.jpg" alt="Book cover">
				</td>
				<td></td>
			</td>
		</tbody>
	</table>
</div> -->





{% endblock %}