<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Bookstore</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'snippets/css.html' %}
{% include 'snippets/js.html' %}


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bookstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-0">
      <input class="form-control mr-sm-2" type="search" id="SearchBar" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="SearchButton">Search</button>
    </form>
  </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
         <li class="nav-item">
         <a class="nav-link" href="{% url 'logout'%}?next=/catalog/">Logout</a></li>   
       {% else %}
         <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next=/catalog/">Login</a></li>   
       {% endif %} 
      </ul>

    </ul>

</nav>
  <div class="container-fluid" id="SearchItemsContainer">
            <div class="row">
                <p>hiii</p>
                <div class="col-xs-12" id="SearchItems">
                </div>
            </div>
  </div>


  <div class="container-fluid">
     
      {% block content %}{% endblock %}
      
    </div>



</body>
</html>


