<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>New Record to be added</title>

</head>
<body>

<p> </p>


<p>Please insert any new book information here:</p>

<p> </p>

<form action="" method="post" id="transactionForm">
    {% csrf_token %}
	<label for="title">Title: </label>
    <p><input id="title" type="text" name="title"></p>
    <label for="piclink">Picture Link: </label>
    <p><input id="piclink" type="text" name="piclink"></p>
    <label for="format">Format: </label>
    <p><input id="format" type="text" name="format"></p>
    <label for="pages">Number of pages: </label>
    <p><input id="pages" type="text" name="pages"></p>
    <label for="subject">Subject: </label>
    <p><input id="subject" type="text" name="subject"></p>
    <label for="language">Language: </label>
    <p><input id="language" type="text" name="language"></p>
    <label for="authors">Authors: </label>
    <p><input id="authors" type="text" name="authors"></p>
    <label for="publisher">Publisher: </label>
    <p><input id="publisher" type="text" name="publisher"></p>
    <label for="year">Year: </label>
    <p><input id="year" type="text" name="year"></p>
    <label for="isbn10">ISBN10: </label>
    <p><input id="isbn10" type="text" name="isbn10"></p>
    <label for="copynum"> Number of copies: </label>
	<p><input id="copynum" type="text" name="copynum" required="true"></p>
    <label for="Bid"> ISBN-13: </label>
	<p><input id="Bid" type="text" name="Bid" required="true"></p>
	<input type="submit" value="Save"  />

	</form>
    <button><a href="{% url 'storemanager' %}">Cancel</a></button>


</body>
</html>