{% extends "base.html" %}

{% block content %}
<div class="title">
    <h2>Home</h2>

</div>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <p><strong>Books:</strong> {{ num_books }}</p>
    <p><strong>Copies:</strong> {{ num_instances }}</p>
    <p><strong>Copies available:</strong> {{ num_instances_available }}</p>
    <p><strong>Authors:</strong> {{ num_authors }}</p>
    <p><strong>Transaction Records:</strong> {{ num_authors }}</p>
  </ul>



{% endblock %}