{% extends "base.html" %}

{% block content %}
<div class="title">
    <h2>Home</h2>
</div>

<h2>Welcome Store Manager</h2>
<button class="Button search"><a href="{% url 'add_transaction_record' %}">Add Transaction Record</a></button>


  <ul>

    <p><strong>Transaction Records:</strong> </p>

    <style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>

    <table id = "transaction_table">

  <tr>
    <th onclick="'sortTable(0)">Transaction ID</th>
    <th onclick="'sortTable(1)">Transaction Date</th>
    <th onclick="'sortTable(2)">Number of Copies added</th>
      <th onclick="'sortTable(3)">Title</th>
    <th onclick="'sortTable(4)">Number of Copies in Bookstore</th>
  </tr>
        {% for records in record_transaction %}
  <tr>
    <td>{{ records.Tid }}</td>
    <td>{{ records.Tdate }}</td>
    <td>{{ records.copynum }}</td>
    <td>{{ records.title }}</td>
      <td>{{ records.available_copy }}</td>


  </tr>
        {% endfor %}


</table>

<p><strong>Most Popular Book of the Month</strong> </p>


    <table id = "most_popular_books">

  <tr>

      <th>Title</th>

  </tr>
        {% for title in order_title %}
  <tr>

    <td>{{ title.title }}</td>

  </tr>
        {% endfor %}


</table>

      <p><strong>Most Popular Author of the Month</strong> </p>


    <table id = "most_popular_author">

  <tr>

      <th>Author</th>

  </tr>
        {% for author in order_author %}
  <tr>

    <td>{{ author.authors }}</td>

  </tr>
        {% endfor %}


</table>

      <p><strong>Most Popular Publisher of the Month</strong> </p>


    <table id = "most_popular_publisher">

  <tr>

      <th>Publisher</th>

  </tr>
        {% for publisher in order_publisher %}
  <tr>

    <td>{{ publisher.publisher }}</td>

  </tr>
        {% endfor %}


</table>


  </ul>



{% endblock %}

