{% extends "base.html" %}

{% block content %}
<div class="title">
    <h2>Home</h2>
</div>

<h2>Welcome Store Manager</h2>
<button class="Button search" id="to-add-record">Add Transaction Record</button>
<form id='check-book-exists' style="display: inline-block;">
  <input id="userbid" name="userbid" style="padding: 7px; margin: 5px" placeholder="Book ISBN13" type="text" required="true">
  <button type="submit" id="check-button" class="btn btn-default">Check whether the book exists</button>
</form>
<br>
<br>
  <ul>

    <p><strong>Transaction Records:</strong> </p>

    <style>
table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>

    <table>

  <tr>
    <th >Transaction ID</th>
    <th>Transaction Date</th>
    <th >Number of Copies added</th>
      <th >Title</th>
    <th>Number of Copies in Bookstore</th>
  </tr>
        {% for records in record_transaction %}
  <tr>
    <td>{{ records.Tid }}</td>
    <td>{{ records.Tdate }}</td>
    <td>{{ records.copynum }}</td>
    <td>{{ records.title }}</td>
      <td>{{ records.available_copy }}</td>


  </tr>
        {% endfor %}


</table>

  </ul>
<script type="text/javascript">
$(function(){
  $("#check-book-exists").hide();
  $("#to-add-record").click(function(){
    $("#check-book-exists").show();
  })
    $("#check-button").click(function(){
      if (!$('#userbid').val()){
          alert('Enter an ISBN13.');
          return;
        }
      var ISBN13=$('#userbid').val();
      $.ajax({
          type:'POST',
          beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    },

          data:{
            bid:ISBN13
          },
             success: function(response) {
              var book_exists=response.book_exists;
              if(book_exists){
                window.location.pathname='/storemanager/addrecord/';
              }
              else{
                window.location.pathname='/storemanager/addbook/';
              }

   },
   error: function(jqXHR, textStatus, errorThrown){
     alert(textStatus, errorThrown);
  }

        })

  })



  

});
  
</script>


{% endblock %}

